
#body-bootstrap-overrides {
  margin:0;
  padding:0;
  font-family: 'Didact Gothic', sans-serif;
}

#nav-bar-overrides{
  position: fixed;
  background-color: white;
}

/* .navbar-default .navbar-nav>li>a:hover{
	background-color: white;
	color: #6DAFAF;
} */

#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:1;
}

/* Slide Show */


img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 90%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-bottom: 30px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px !important;
  width: 15px !important;
  margin: 0 2px;
  background-color: #bbb !important;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #9e9e9e;
}

/* Fading animation */
.fade-overrides {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.intro {
    color: black;
}

.fa{
  line-height: unset;
}

/* dropdown on map */

#bar{
  width: 175px;
  right: 30px;
  background-color: #343638;
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  height: 30px;
  z-index: 10;
  position: absolute;
}
.dropdown{
position: relative;
margin-top: 5px;
}

.legend-control-container{
  color: black;
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 40px;
  width: 100%;
  z-index: 1;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: table;
  margin: 0 auto;
}
nav ul li {
  display: table-cell;
}
nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #43AB9B;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
  color: #d6d6d6;
}
nav ul .active a {
  color: #008080;
  border-bottom: 3px solid #008080;
  /* #375431 */
}

section {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 0;
}

#home {
  background: white;
  top: 40px;
}

#about {
  /* background: white; */

}

.text-about{
  color: white;
  float:right;
  margin-right: 100px;
  margin-top: 20px;
  font-family: 'Didact Gothic', sans-serif;
  width:700px;
  height: 300px;
  font-size: 30px;
}

#about-container-who{
  width:50%;
  height:50px;
  background-color:white;
  z-index: 1;
  border: 5px solid #92D3C7;
  margin-top: 350px;
  margin-left: 400px;
  position: absolute;
  text-align: center;

}
#attributes:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close-overrides {
  position: absolute;
  /* margin-top: px; */
  top: 25px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


#social:hover {opacity: 0.7;}

#environmental:hover {opacity: 0.7;}

.caption1 {
  margin-top: 20px;
  margin-right: 130px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  font-weight: bold;
}

.caption2 {
  margin-top: 20px;
  margin-right: 90px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  font-weight: bold;
}
.caption3 {
  margin-top: 20px;
  margin-right: 160px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  font-weight: bold;
}


#about-container{
  height: 50%;
  background-image: url(tree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.select{

}

/* Research and Sats Section */

#research{
  background-color: #43AB9B;
}

.mySlides {
  display: none;
}

.mySlides2 {
  display:none;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0.5;
    text-decoration: none;
    color: inherit;
    /* background-color: inherit;
    text-align: center; */
    cursor: pointer;
    white-space: nowrap;
}

#suicide{
  width:700px;
  height: 450px;
  float:left;
  background-color: #43AB9B;
}

.text-suicide{
  color: white;
  float:left;
  margin-left: 50px;
  margin-top: 30px;
  font-family: 'Didact Gothic', sans-serif;
  width:700px;
  height: 100%;
  font-size: 20px;
}

.chart {
  background: #eee;
  padding: 3px;
}

#charts{
  width: 800px;
  float:right;
  margin-top: 30px;
}

#pie-chart-title{
  margin-left: 250px;
  color: white;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

/* .bar {
  fill: orange;
}

.bar:hover {
  fill: red;
} */

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

tooltip1 {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 45px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.bar {
  fill: #8CD3DD;
}

.bar:hover {
  fill: #F56C4E;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

Creates a small triangle extender for the tooltip .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

Style northward tooltips differently .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg text.label {
  fill: #ff0000;
  font: 25px;
  text-anchor: middle;
  font-weight: 400;
  text-anchor: middle;
  font-size: 125%;
  text-anchor: start;
}

.arc path {
  stroke: steelblue;
  stroke-width: 2;
}

pathline {
  fill: none;
  stroke-width: 2;
  stroke: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.graph {
  width: auto;
}

.tooltip {
  color: black;
}

.axis {
  font: 12px sans-serif, Georgia, Arial;
}

.axis path,
.axis line {
  fill: none;
  stroke: #dadada;
  shape-rendering: crispEdges;
}


.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogdemoBasicUsage .footer,
.dialogdemoBasicUsage .footer>code {
  font-size: 0.8em;
  margin-top: 50px;
}

.dialogdemoBasicUsage button {
  width: 200px;
}

.dialogdemoBasicUsage div#status {
  color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0;
}


.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage .green {
  background: #b9f6ca;
}

.gridListdemoBasicUsage .yellow {
  background: #ffff8d;
}

.gridListdemoBasicUsage .blue {
  background: #84ffff;
}

.gridListdemoBasicUsage .purple {
  background: #b388ff;
}

.gridListdemoBasicUsage .red {
  background: #ff8a80;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

md-grid-list md-grid-tile md-grid-tile-footer,
md-grid-list md-grid-tile md-grid-tile-header {
  height: 25px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 12%;
  vertical-align: top;
  overflow: hidden;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#linechart {
  width: 100%;
  height: 100%;
  position: absolute;
}


.chart-tile {
  display: block;
  height: 100%;
  width: 100%;
}

.gridListdemoDynamicTiles .s64 {
  font-size: 64px;
}

.gridListdemoDynamicTiles .s32 {
  font-size: 48px;
}

.gridListdemoDynamicTiles md-grid-list {
  margin: 8px;
}

.gridListdemoDynamicTiles md-grid-tile {
  box-shadow: 2px 2px 3px 3px #888888;
  transition: all 300ms ease-out 50ms;
}

.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%;
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}



@media (min-width: 1200px) {
  .container {
    width: 1400px;
    margin-right: -50px;
  }
}

@media only screen and (max-width: 260px) and (min-width: 1600px) {
  .container {
    width: 1700px;
    margin-right: -50px;
  }
}

#wrapper {
  border-style: solid;
  height: 100px;
  width: 200px;
}

#dropdown {
  vertical-align: middle;
  width: 80px;
  margin-left: 300px;
  margin-top: -30px;
}


.gridster-item {
  background-color: darkgrey;
}

.my-class {
  border: 1px solid red;
  height: 50px;
}

.container {
  text-align: center;
  padding: 15px;
}

.left-div {
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}

.right-div {
  display: inline-block;
  max-width: 150px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
}

.left-text,
.right-text {
  /* font: 300 16px/1.6 'Helvetica Neue' sans-serif; */
  color: #333;
}


#economic{
  width: 50%;
  height:100%;
  float:left;
  background-color: #43AB9B;
}

.select-economic {
    margin-left: 20px;
    display: block;
}

.bar {
    fill: purple;
    opacity: 0.8;
}

.bar:hover {
  fill: grey;
}


.x-axis line{
  stroke:white;
}

.x-axis path{
  stroke:white;
}

.y-axis line{
  stroke:white;
}

.y-axis path{
  stroke:white;
}

.y-axis text{
  fill:white;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

#economic-text{
  width: 50%;
  height:100%;
  float:right;
  /* background-color: white; */
  background-color: #43AB9B;
}

#economic-text2 {
    color: white;
    float: left;
    margin-right: 50px;
    margin-top: 30px;
    font-family: 'Didact Gothic', sans-serif;
    width: 700px;
    /* height: 100%; */
    font-size: 20px;
  }

#economic-text3{
      color: white;
      float: left;
      margin-right: 50px;
      margin-top: 30px;
      font-family: 'Didact Gothic', sans-serif;
      width: 700px;
      /* height: 20%; */
      font-size: 12px;
    }

.toolTip3 {
    	position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }

#bar-graph-title{
    margin-left: 20px;
    color: white;
  }

#substance-graph{
  width: 70%;
  /* bottom: 0; */
  margin-bottom: 100px;
  position: absolute;
  }
  .bar2{
    fill: #870404;
  }
  .bar2:hover {
    fill: grey;
  }

  .x-axis2 line{
    stroke:white;
  }

  .x-axis2 path{
    stroke:white;
  }
  .x-axis2 text{
    fill:white;
  }
  .y-axis2 line{
    stroke:white;
  }

  .y-axis2 path{
    stroke:white;
  }
  .y-axis2 text{
    fill:white;
  }

.toolTip2 {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#substance-text{
  color: white;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  font-family: 'Didact Gothic', sans-serif;
  width: 30%;
  font-size: 17px;
  }

  #substance-graph-title{
      margin-left: 30px;
      margin-bottom: 40px;
      color: white;
    }

#substance-graph-description{
  width: 70%;
    margin-left: 30px;
    color: white;
}

#recovery{
  width:700px;
  height: 450px;
  float:left;
  background-color: #43AB9B;
}

.recovery-text{
  color: white;
  float:left;
  margin-left: 50px;
  margin-top: 30px;
  font-family: 'Didact Gothic', sans-serif;
  width:700px;
  height: 100%;
  font-size: 20px;
}

#infograph{
  width: 600px;
  float:right;
  margin-top: 30px;
}

  /* .bar2 {
  fill: steelblue;
} */


/* @media screen and (max-width: 600px) {
  .left-div,
  .right-div {
    max-width: 100%;
  } */

/* Charts end */


/*/ start contact /*/


#contact {
  background: white;
}

#contact h2 {
    color: #008080;
    font-weight: 700;
    /* font-size: 50px; */
    text-transform: lowercase;
}

 #contact h2:after {
    content: '';
    width: 50px;
    height: 3px;
    background: #40E0D0;
    display: block;
    margin: 15px auto;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#contact h2:hover:after {
    width: 100px;
}

h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


footer {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#contact h2 {
    font-weight: 700;
    /* margin-top: 22px; */
    /* padding-bottom: 10px; */
    text-align: center;
}

/* footer p {
    margin-top: 50px;
} */

.social, footer a {
    font-size: 30px;
    color: #24242a;
    margin: 10px;
}

footer a:hover, footer a:after, footer a:visited footer a:focus {
    color: #40E0D0;
}

.copyright {
    margin-top: 35px;
    font-size: 14px;
}


.container {
 	width: auto;
 	/* max-width: 800px; */
  max-width: 100%;
 }

 .form-group {
 	margin-bottom: 8px;
 }

.form-control:focus {
    border-color: #008080;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

 #feedbackForm {
   /* margin-left: 42%; */
 	font-size: 14px;
	 text-align: left;
	 color: #008080;
 }

#feedbackForm span {
  /* background-color: #008080;
  border: #fff; */
	color: #fff;
}

.input-group-addon {
    padding: 6px 17px;
		background-color: #008080;
    border: #008080;
}

#feedbackSubmit {
	background-color: #008080;
	font-size: 16px;
	margin: 0 auto;
	border-color: #008080;
	font-family: 'Montserrat', sans-serif;
}

#feedbackSubmit:hover {
	background-color: #40E0D0;
	color: #fff;
	border-color: #40E0D0;
}



.column-image {
  float: left;
  /* margin-left: 10px; */
  width: 33.33%;
  padding: 5px;
}

.row-image{
  display: inline-block;
  margin-left: 125px;
  margin-top: 15px;
}

/* Clearfix (clear floats) */
.row-image::after {
  content: "";
  clear: both;
  display: table;
}


.column-image2 {
  float: left;
  /* padding: 5px; */
  position: relative;

  width: 200px;
  height: 152px;
}

.column-image2:hover {
  opacity: 0.5;
}

.row-image2{
  position: absolute;
  width: 100%;
}

/* Clear floats after image containers */
.row-image2::after {
  content: "";
  clear: both;
  display: table;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.column-image2:hover .img__description {
  visibility: visible;
  opacity: 1;
}

#sources{
  height:90%;
  width: 90%;
  margin-left: 5%;
  background-color:white;
  color: #43AB9B;
}
